@font-face {
  font-family: ethnocentric;
  src: url("../fonts/ethnocentric\ rg.otf");

  font-family: BraveNewEraG98;
  src: url("../fonts/BraveNewEraG98-5XOj.ttf");
}

body {
  background-color: #000000;
  color: #ffffff;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: ethnocentric;
}
.text-stroke {
  color: white; /* Set the text color */
  -webkit-text-stroke: 4px black; /* Add a 1px black stroke around the text */
}
.text-stroke-thin {
  color: white; /* Set the text color */
  -webkit-text-stroke: 2px black; /* Add a 1px black stroke around the text */
}

p {
  font-family: BraveNewEraG98;
}
